

body {
	background-color: black;
	font-family: monospace;
    color: #FFFFFF;
}

canvas {
	padding: auto 0;
    margin: 0 auto;
    display: block;
    border: 25px solid grey;
}

main {
    width: 1350px;
    margin: 0 auto;
}

h1  {
    font-weight: normal;
}